@media (max-width: 840px) and (orientation: portrait) {
  #game-root {
    top: 0;
    right: auto;
    bottom: 0;
    left: -10vw;
    width: 120vw;
    min-width: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  #game-root canvas {
    max-width: none !important;
    margin: auto !important;
  }

  .hh-action-prompt {
    display: none;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  #game-root {
    left: -10vw;
    width: 120vw;
  }
}
